h2 Hello #{@receiver}, 
div Your pledge: #{ link_to @p.headline, pledge_url(@p) } for the campaign: #{ link_to @p.campaign.title, campaign_url(@p.campaign) } has been 100% subscribed. Once the Campaign has ended, you will be notified and billed.
/ div You can increase your pledge #{ link_to t('semantic.here').downcase, nil }.