= menu_item "Home", fundraiser_home_path
= menu_item "Public Profile", fundraiser_path(current_fundraiser)
= menu_item "Billing", fundraiser_billing_path
= menu_item "History", fundraiser_history_path