= menu_item "Home", fundraiser_home_path
= menu_item "Billing", fundraiser_billing_path
= menu_item "Pending Pledges", fundraiser_pending_pledges_path
= menu_item "Campaigns", fundraiser_campaigns_path
= menu_item "History", fundraiser_history_path