= display_meta("Pledge", {title: "Click now! It is 100% free to help!", image: "http://res.cloudinary.com/cakefundraising/image/url2png/w_1200,h_630,c_fill,g_north,r_10/#{@pledge.screenshot_version}/#{pledge_url(@pledge.id)}", description: @pledge.mission, url: request.original_url})

= content_for :header do
  = render partial:'campaigns/show_page/header', locals:{resource: @pledge, banner_message: t('information.pledge.banner', sponsor: @pledge.sponsor, donation_per_click: humanized_money_with_symbol(@pledge.amount_per_click), total_donation: humanized_money_with_symbol(@pledge.total_amount), fundraiser: @pledge.fundraiser).html_safe, sidebar_path: 'pledges/show/sidebar'}

= content_for :bottom_section do
  .main-background
    = render partial:'pledges/show/description', locals:{is_hero: false}

    = render partial:'pledges/show/coupons_and_news'

  = render partial:'pledges/show/fr_section', locals:{is_hero: false}

  = render partial:'campaigns/show_page/bottom', locals:{is_pledge: true}

css:
  .hero{ background-image: url("#{@pledge.campaign.picture.banner_path}"); }

javascript:
  $(document).ready(
    Cake.campaigns.show(
      '#{@pledge.campaign.object.end_date}',
      "#{@impression.id if @impression.present?}"
    )
  );

  var addthis_share = addthis_share || {}
  addthis_share = {
    url_transforms : {
          shorten: {
            twitter: 'bitly'
          }
      },
    shorteners : {
      bitly : {}
    },
    templates: {
      twitter: "Click to help #{@pledge.fundraiser}. It is 100% free! {{url}} via @cakefundraising"
    }
  }