h2 Hello #{@receiver}, 
div Your campaign: #{ link_to @campaign, campaign_url(@campaign) } has missed its launch date planned for: #{@campaign.launch_date}.
div Contact your sponsors to let them know why this happened.