h2 Hello #{@receiver}, 
div One of your pledged campaigns: #{ link_to @campaign, campaign_url(@campaign) } has missed its launch date planned for: #{@campaign.launch_date}.
div Contact the fundraiser for details about this situation.