h1 Set your Credit Card

= semantic_form_for @credit_card, url: set_credit_card_sponsor_path, method: :patch do |f|
  = f.inputs do
    = f.input :number
    = f.input :cvc
    = f.input :exp_month
    = f.input :exp_year
    = f.input :token, as: :hidden
  = f.actions do
    = f.action :submit, label: 'Save', button_html: {class: 'btn btn-success btn-lg btn-block'}

= render :partial => 'stripe/js'

javascript:
  Cake.credit_card = function(){
    var stripeResponseHandler = function(status, response){
      if(response.error){
        alert(response.error.message);
      }else{
        var token = response.id;
        $('#credit_card_token').val(token);
        $('form.credit_card')[0].submit();
      }
    }

    $('form.credit_card').submit(function(e){
      e.preventDefault();

      Stripe.card.createToken({
        number: $('#credit_card_number').val(),
        cvc: $('#credit_card_cvc').val(),
        exp_month: $('#credit_card_exp_month').val(),
        exp_year: $('#credit_card_exp_year').val()
      }, stripeResponseHandler);
    });

  }();