h2 Hello #{@receiver}, 

div Cake has scheduled a transfer of #{ humanized_money_with_symbol @amount } from #{@sp}, Invoice #{@invoice.id}, to your bank account.

div The funds should be available in the next 2 to 5 days.

div Thank you for using Cake!
