span = link_to "View", campaign, class:'btn btn-primary'
span = link_to "Edit", edit_campaign_path(campaign), class:'btn btn-warning'
- if campaign.not_launched?
  span = link_to "Launch Campaign", launch_campaign_path(campaign), method: :patch, class:'btn btn-success'
- if campaign.pledges.any?
  button class="btn btn-default" data-target="#campaign-#{campaign.id}" data-toggle="modal" See Pledges 
/ .share-buttons
/   .shareaholic-canvas data-app='share_buttons' data-app-id='6991658' data-url=(campaign_url(campaign))