#video_modal.modal.fade.video_modal
  .modal-dialog
    .modal-content
      .modal-header 
        button.close aria-hidden="true" data-dismiss="modal" type="button" &times;
        h4.modal-title #{object} Video
      .modal-body
        #video_placeholder
    /! /.modal-content
  /! /.modal-dialog
/! /.modal

javascript:
  Cake.videos.autoshow_setting = "#{object.video.auto_show}" === 'true' ? true : false;

  var init = function(){
    Cake.videos.init({
      modal: '#video_modal',
      provider: "#{object.video.provider}",
      videoId: "#{object.video.url}",
      autoshow: Cake.videos.autoshow_setting
    });
  };

  if(window.YT){
    init();
  }else{
    Cake.videos.youtubeApi();

    function onYouTubeIframeAPIReady(){
      init();
    }
  }
