h2 Hello #{@receiver}, 
br
div Recently your account information has been modified in Cake.
br
div Please click #{ link_to t('semantic.here').downcase, account_url } if you want to see your actual account information.