h3 Congratulations! 

div #{link_to @sp, sponsor_url(@sp)} is interested in creating a promotional partnership with your organization. 

div Check out their Cake profile #{link_to 'here', sponsor_url(@sp)}.

div They left a message for you:

div.italic "#{@message}"
