h2 Hello #{@receiver}, 
br
div Recently your public profile has been modified in CakeFundraising.
br
div Please click #{ link_to t('semantic.here').downcase, public_profile_url } if you want to see your actual profile data.