= f.semantic_fields_for :picture, f.object.picture || f.object.build_picture do |p|
  = p.input :avatar, as: :uploader, removable: false, parent: f
  = p.input :avatar_caption, input_html: {placeholder: '40 characters or less', maxlength: 40} if defined? caption