h2 Hello #{@receiver}, 
div #{ link_to @p.fundraiser.name, fundraiser_url(@p.fundraiser) } is requesting that you increase your pledge for #{ link_to @p.headline, pledge_url(@p) }.
br
div Click #{ link_to t('semantic.here').downcase, increase_pledge_url(@p) } to do that.