h2 Hi there,

div #{ link_to @fr, fundraiser_url(@fr) } has created a pledge from your company on #{ link_to @campaign, campaign_url(@campaign) }!

div Please #{ link_to 'sign up', new_user_registration_url } on Cake if you'd like to add coupons and other special offers and tell your story, etc.

div We'd love to have you in our community!