h2 Hello #{@receiver}, 
div
  strong Unfortunately your pledge request for this campaign: #{ link_to @p.campaign.decorate, campaign_url(@p.campaign) } has been rejected.
div The fundraiser exposed:
div.italic "#{@message}"
div
  span Please check #{ link_to t('semantic.here').downcase, sponsor_pledge_requests_url } to see your pledge requests.