h2 Hello #{@receiver}, 
div
  strong Unfortunately your pledge request for #{ link_to @pr.campaign.decorate, campaign_url(@pr.campaign) } has been rejected by the Sponsor.
br
div.italic "#{@message}"  
div
  span Please check #{ link_to t('semantic.here').downcase, fundraiser_pledges_url } and click 'My Pledge Requests' to see all your pledge requests.