h2 Hello #{@receiver}, 
div
  strong Unfortunately your pledge request for #{ link_to @campaign, campaign_url(@campaign) } has been rejected by the Sponsor #{ link_to @sp, sponsor_url(@sp) }.
br
div.italic "#{@message}"  
div
  span Please check #{ link_to t('semantic.here').downcase, send("#{@pr.requester_type.downcase}_pledges_url") } and click 'My Pledge Requests' to see all your pledge requests.