h2 Hello #{@receiver}, 

div You have a new request for this campaign: #{ link_to @cakester_request.campaign, campaign_url(@cakester_request.campaign) }.

div Click #{ link_to t('semantic.here').downcase, cakester_campaigns_url } to see your pending requests.