h2 Hello #{@receiver}, 

div Unfortunately your request to the Cakester #{ link_to @cakester_request.cakester, cakester_url(@cakester_request.cakester) } for this campaign: #{ link_to @cakester_request.campaign, campaign_url(@cakester_request.campaign) } has been rejected.

div Please review your #{link_to "campaign settings", share_campaign_url(@cakester_request.campaign) } to request to another Cakester.

