#how_it_works.modal.fade.video_modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header 
        button.close aria-hidden="true" data-dismiss="modal" type="button" &times;
        h2.modal-title How Cake works
      .modal-body
        /#how_it_works_placeholder
        iframe id="youtube_video" title="YouTube video player" width="100%" height="400px" src="//www.youtube.com/embed/_zEtobIg5W8" frameborder="0" allowfullscreen
    /! /.modal-content
  /! /.modal-dialog
/! /.modal

javascript:
  var yt_init = function(){
    Cake.videos.youtube({
      modal: '#how_it_works',
      embedIn: 'how_it_works_placeholder',
      provider: 'youtube',
      videoId: "_zEtobIg5W8",
      autoshow: true
    });
  };

  if(window.YT){
    yt_init();
  }else{
    Cake.videos.youtubeApi();
    Cake.videos.queueFunctions(yt_init);
  }