.share-buttons
  .shareaholic-canvas data-app='share_buttons' data-app-id='6951338'

/ coffee:
/   unless window.location.hash
/     original_location = window.location
/     window.location = original_location + "#."
/     window.location.reload true
/   return