- if @campaign.persisted?
  = link_to 'Delete', @campaign, data: {confirm: 'Are you sure?'}, method: :delete, class:'btn btn-danger pull-right'
  = link_to "Preview", @campaign, class:'btn btn-primary pull-right'